/target
fnapp/*/target/
wol_devices.json
*.exe
*.fpk
/fpk_app/
/fpk_old/
/fpk_test/
oui.csv
fpk-extract/
fan-extract/
fan-app-extract/
app-extract/
fpk-check/
fan-source/
fan-source.zip
v0.1.9.fpk
fan-control.fpk
fn-wol-test.fpk
